{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans "Mój sklep" %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">{% trans "Mój sklep" %}</a>
    </div>
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    {% trans "Twój koszyk" %}:
                    <a href="{% url "cart:cart_detail" %}">
                        {% blocktrans with total_items_plural=total_items|pluralize:"y" total_price=cart.get_total_price %}
                            {{ total_items }} produkt{{ total_items_plural }}, {{ total_price }} PLN
                        {% endblocktrans %}
                    </a>
                {% else %}
                    {% trans "Twój koszyk jest pusty." %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>